*build
*~
*.DS_Store
*.venv
RaspberryLatte-pizero/__pycache__/*
Sandbox/*
*.brewlog
*__pycache__*
RaspberryLatte-pico/src/.DS_Store
sphinx_docs/html/*
sphinx_docs/latex/*
sphinx_docs/xml/*
doxygen-awesome-css/
